# Compiled class file
*.class

# Log file
*.log
*.iml

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
.idea

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/compiler.xml
.idea/workspace.xml
out/production/JavaSrc/META-INF/
out/production/JavaSrc/com.silinx/
src/com.silinx/source/swaggerranger/JavaCore/IO/BOS.txt
src/com.silinx/source/swaggerranger/JavaCore/IO/OSW.txt
src/com.silinx/test/
